
// body {
//     background-color: #f2f2f2;
//     font-family: Arial, sans-serif;
//     color: #333;
// }

// header {
//     background-color: #333;
//     color: #fff;
//     padding: 20px;
//     text-align: center;
//     font-size: 2em;
//     font-weight: bold;
// }

// nav {
//     background-color: #666;
//     padding: 10px;
//     text-align: center;
//     font-size: 1.2em;
//     color: #fff;
// }

// nav a {
//     color: #fff;
//     text-decoration: none;
//     margin: 0 10px;
// }

// section {
//     padding: 20px;
//     margin: 20px;
//     background-color: #fff;
//     box-shadow: 0 0 10px rgba(0,0,0,0.3);
//     border-radius: 5px;
//     text-align: justify;
//     font-size: 1.2em;
//     line-height: 1.5em;
// }

// footer {
//     background-color: #333;
//     color: #fff;
//     padding: 10px;
//     text-align: center;
//     font-size: 0.8em;
// }


div {

    text-align: center;
    font-size: 30px;
}
p {
    font-size: 25px;
}