<!-- <p>home page</p>
<h1>all component are here</h1> -->

<body bgcolor="blue"></body>

<div align = "center">
    <p><img src="/frontend_hr/src/assets/images/toy.jpg" height="50">Logo</p>
    <h1>Home Page</h1>
    <nav >
        <a href="/frontend_hr/src/assets/images/1.jpg">Beauty</a><br>
        <a href="/frontend_hr/src/assets/images/2.jpg">Health</a><br>
        <a href="/frontend_hr/src/assets/images/3.jpg">Election</a><br>
        <a href="/frontend_hr/src/assets/images//4.jpg">Supply</a><br>
    </nav>

    <div>
        <footer bgcolor = "orange">
            <p>Posted by: Xiaoqin</p>
            <p><time pubdate datetime="2023-03-08"></time></p>
          </footer>
    </div>
    
</div>

    